.header {
	padding: 45px;
	text-align: center;
	background: #31D1B1;
	color: white;
	font-size: 22px;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #31D1B1;
}
li {
	float: left;
}
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
h2 a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
/* Change the link color to #111 (black) on hover */
li a:hover {
	background-color: #111;
}

/*rows on empInfo */

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
